.container {
  background: #fcfcfc;
  box-shadow: 0 2px 12px 0 rgba(192,192,192,0.50);
  transition: all 0.2s ease-in;
}

.container:hover {
  color: #aaa;
  background: rgba(50,50,50, 0.15);
}


.textContainer {
  padding: 20px;
}

.name {
  font-weight: 600;
  font-size: 18px;
}

.active {
  color: #FF0079;
}

.priceContainer {
  display: flex;
  padding-top: 5px;
}

.price {
  font-weight: 700;
}

.date {
  margin-left: auto;
}