.container {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  text-align: center;
  margin-bottom: 50px;
}

.main h2 {
  font-weight: 600;
  font-size: 20px;
}

.main h3 {
  font-weight: 100;
  font-size: 20px;
}


.main svg {
  margin: 50px 0;
}

.createButton {
  background: #161616;
  color: #fcfcfc;
  border-radius: 3px;
  text-align: center;
  width: 180px;
  height: 48px;
  line-height: 48px;
  padding: 0 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease-in;
  display: block;
}

.createButton:hover {
  transform: translate3d(0, 2px, 0);
  background: #333;
  box-shadow: none;
}

.main .createButton {
  margin: 0 auto;
  display: block;
}


.section h3 {
  font-size: 36px;
  font-weight: 700;
  margin-top: 30px;
}

.section h3::after {
  display: block;
  content: '';
  height: 6px;
  background: #161616;
  width: 80px;
  margin: 40px 0 50px;
}

.sectionItem {
  display: flex;
  padding-bottom: 70px;
}

.sectionItemLeft {
  max-width: 600px;
  margin-right: 100px;
}

.sectionItem h4 {
  font-weight: 600;
  padding-bottom: 15px;
}

.sectionItem svg {
  margin-left: auto;
  max-width: 300px;
  min-width: 300px;
}

.members {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 20px;
}

.member {
  text-align: center;
}

.member img {
  width: 180px;
  display: block;
  margin: 0 auto;
  border-radius: 90px;
}

.member h4 {
  padding: 20px 0;
  font-weight: 600;
}

.member p {
  padding: 0 5px;
}

.memberInfo a {
  display: inline-block;
  margin-top: 0px;
}

.lotteriesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 30px;
  padding-bottom: 40px;
}

@media screen and (max-width: 900px) {
  .member img {
    width: 150px;
    border-radius: 75px;
  }
}

@media screen and (max-width: 750px) {

  .sectionItem {
    padding-bottom: 50px;
  }

  .sectionItem svg {
    max-width: 200px;
    min-width: 200px;
  }

  .sectionItemLeft {
    margin-right: 50px;
  }

  .members {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .member {
    display: flex;
  }

  .memberInfo {
    margin-left: 20px;
    text-align: left;
  }

  .member img {
    width: 130px;
    border-radius: 65px;
    margin: 0;
  }

  .member p {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {

  .sectionItem {
    padding-bottom: 50px;
    display: block;
  }

  .sectionItem svg {
    max-width: 250px;
    min-width: 250px;
    margin: 40px auto 0;
    display: block;
  }

  .sectionItemLeft {
    margin-right: 0;
    text-align: justify;
  }

}

@media screen and (max-width: 500px) {

  .members {
    grid-gap: 50px;
  }

  .member {
    display: block;
  }

  .memberInfo {
    margin-left: 0;
    text-align: center;
  }

  .member img {
    margin: 0 auto;
  }

  .member p {
    padding: 0;
  }

}