.background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.container {
  width: 240px;
  margin: 0 auto;
  padding: 15px 15px;
  background: #fcfcfc;
  box-shadow: 0 2px 12px 0 rgba(192,192,192,0.50);
  border-radius: 3px;
  position: absolute;
  top: 90px;
  right: 30px;
  text-align: center;
}

.container p {
  padding: 15px 0;
}

.text {
  font-size: 14px;
  text-align: center;
}

.wallet {
  display: flex;
  align-items: center;
  margin-top: 10px;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.2s ease-in;
}

.wallet img {
  width: 30px;
  display: block;
  margin-right: 8px;
}

.wallet span {
  position: relative;
  top: 3px;
}

.container .walletTop {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}


.logout {
  color: #FF0079;
  cursor: pointer;
  transition: all 0.2s ease-in;
  display: block;
}

.container .wallet:hover {
  background: #eee;
}