.container {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.top h1 {
  font-weight: 700;
  font-size: 42px;
  line-height: 60px;
  margin: 30px 0 40px;
}

.top .roomId {
  font-size: 12px;
  padding: 10px 0 30px;
}

.owner {
  margin-left: 5px;
  text-decoration: underline;
}

.owner:hover {
  color: #777;
}

.soldNumber {
  font-size: 32px;
}

.unitNumber {
  font-size: 18px;
  margin-left: 3px;
}

.numbers {
  padding: 20px 0;
}

.lockedNumber {
  margin-left: 15px;
  font-size: 18px;
}

.gauge {
  margin-top: 15px;
  background: #D8D8D8;
  height: 6px;
  max-width: 500px;
  border-radius: 1px;
  display: flex;
}

.soldGauge {
  background: #FF0079;
  height: 6px;
}

.lockedGauge {
  background: #898989;
  height: 6px;
}

.applyContainer {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 30px;
}

.applyContainer input {
  margin: 0 10px 0 20px;
  border: 1px solid #666;
  padding: 5px 10px;
}

.applyButton {
  background: #161616;
  color: #fcfcfc;
  border-radius: 3px;
  text-align: center;
  width: 180px;
  height: 45px;
  line-height: 45px;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease-in;
  display: block;
}

.applyButton:hover {
  transform: translate3d(0, 2px, 0);
  background: #333;
  box-shadow: none;
}

.applyButtonDisabled {
  background: #aaa;
  box-shadow: none;
  font-weight: normal;
  cursor: auto;
}

.applyButtonDisabled:hover {
  background: #aaa;
  transform: none;
}

.chanceToWinContainer {
  font-weight: 600;
  padding-bottom: 20px;
}

.chanceToWin {
  font-size: 28px;
  padding-left: 5px;
}

.ticketTitle {
  font-weight: 700;
  font-size: 28px;
  margin-top: 50px; 
}

.ticketTitle::after {
  display: block;
  content: '';
  height: 6px;
  background: #161616;
  width: 80px;
  margin: 20px 0 10px;
}

.ticketContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 20px 0;
  column-gap: 20px;
  row-gap: 20px;
}

.poolContainer {
  display: flex;
}

.poolLeft {
  width: 550px;
}

.poolRight {
  margin-left: auto;
}

.poolRight img {
  display: block;
  padding-top: 20px;
  min-width: 350px;
  min-height: 350px;
  width: 350px;
}

@media screen and (max-width: 950px) {

  .poolLeft {
    width: 450px;
  }

  .poolRight img {
    min-width: 300px;
    min-height: 300px;
    width: 300px;
  }

  .ticketContainer {
    grid-template-columns: 1fr 1fr;
  }  

}

@media screen and (max-width: 850px) {

  .poolContainer {
    display: flex;
    flex-direction: column-reverse;
  }

  .poolLeft {
    width: 100%;
  }

  .poolRight img {
    min-width: 500px;
    min-height: 500px;
    width: 500px;
    display: block;
    margin: 0 auto;
  }
}


@media screen and (max-width: 650px) {

  .top h1 {
    font-size: 36px;
    line-height: 50px;
  }

  .ticketContainer {
    grid-template-columns: 1fr;
  }  
}

@media screen and (max-width: 550px) {

  .top h1 {
    font-size: 28px;
    line-height: 40px;
  }

  .poolRight img {
    display: block;
    width: 100%;
    min-width: auto;
    min-height: auto;
  }
}