
.ticket {
  border: 1px solid #161616;
  border-radius: 1px;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
} 

.ticket:hover {
  border: 1px solid #888;
  color: #333;
  background: rgba(240,240,240, 0.4);
}

.ticket p {
  line-height: 30px;
}

.ticketLeft {
  margin-right: auto;
}

.ticketUnsettled {
  color: #FF3900;
}

.ticketRefundable {
  color: #04BB1E;
}

.ticketExpired {
  color: #888;
}