.background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.container {
  width: 240px;
  margin: 0 auto;
  padding: 15px 15px;
  background: #fcfcfc;
  box-shadow: 0 2px 12px 0 rgba(192,192,192,0.50);
  border-radius: 3px;
  position: absolute;
  top: 90px;
  right: 30px;
  text-align: center;
}


.principal {
  font-size: 14px;
  text-align: left;
  font-weight: 100;
  line-height: 24px;
}

.container .hosted {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  font-weight: 700;
}

.container .participated {
  margin-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
  font-weight: 700;
}

.hosted a, .participated a {
  transition: all 0.2s ease-in;
  display: block;
  padding: 14px 0;
}

.logout {
  color: #999;
  cursor: pointer;
  transition: all 0.2s ease-in;
  display: block;
}

.container .hosted a:hover, .container .participated a:hover, .logout:hover {
  background: #eee;
}